@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
}


.shimmer {
  background: linear-gradient(
    90deg,
    #f0f0f0 25%,
    #e5e7eb 37%,
    #f0f0f0 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s ease infinite;
}

@keyframes shimmer {
  0% { background-position: -400px 0; }
  100% { background-position: 400px 0; }
}